streamlit==1.36.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-api-python-client==2.142.0
google-cloud-logging==3.11.2
google-cloud-aiplatform==1.71.1
vertexai==1.71.1
pandas==2.2.2
# numpy==2.0.2
# grpcio==1.66.1
# pyarrow==17.0.0
# protobuf==5.27.3
